extends layout

block content
    -console.log(data)
    table  
        div(class = 'thead')
            th id
            th date
            th name
            th ssn
            th fjoldi

    p Innskráning sem #{notandi}
    
    a(href="/logout") Útskráning
    br
    a(href="/") Heimasíða 